@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Pretendard-Regular.woff");
}
@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Pretendard-Medium.woff");
}
@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/Pretendard-SemiBold.woff");
}
@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Pretendard-Bold.woff");
}
@font-face {
  font-family: 'www';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/www.woff");
}
@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/NotoSansKR-Bold.woff");
}

#root {
  font-family: 'Pretendard', sans-serif;
  color: var(--black-200);
}

.root,
#root,
#docs-root {
  --main1: #1635F4;
  --main1-light: #5D6DFF;
  --main2: #64E269;
  --main2-light:#A7FF9A;
  --sub: #E9ECF8;
  --gradation-bg: linear-gradient(180deg, #ffffff 10.21%, #dee3ff 52.4%, #8f9df2 100%);
  --black-500: #121820;
  --black-400: #242528;
  --black-300: #3D3F4E;
  --black-200: #5B5D6C;
  --black-100: #A4ABBE;
  --white: #FFFFFF;
  --lead: #FF7F00;
  --serve: #00A7FF;
  --assist: #28AD1D;
}

#marker:before {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: #0475f4;
  bottom: 1px;
  left: 0.875rem;
  width: 0.938rem;
  height: 0.938rem;
  transform: rotate(55deg) skew(17deg);
}
#marker {
  position: relative;
  background-color: #0475f4;
  width: 98.6px;
  padding: 5px;
  border-radius: 23px;
  display: flex;
  transform: scale(0.8);
}
#marker__cafe {
  background-image: url("/assets/cafe.png");
  background-size: 263px 263px;
  background-position: 0 -35px;
  overflow: hidden;
  display: inline-block;
  width: 33px;
  height: 33px;
}
#marker__place{
  font-size: 16px;
  font-weight: 700;
  font-family: 'NotoSansKR', sans-serif;
  letter-spacing: -3.7px;
  color: #fff;
  padding:0 9px 0 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

@keyframes slideLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slideRight {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}

.open {
  animation: slideLeft 0.5s cubic-bezier(0.65, 0, 0.35, 1) 0s 1 normal forwards;
}

.close {
  animation: slideRight 0.5s cubic-bezier(0.65, 0, 0.35, 1) 0s 1 normal forwards;
}