@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  src: url("/public/fonts/Pretendard-Regular.woff");
}
@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  src: url("/public/fonts/Pretendard-Medium.woff");
}
@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 600;
  src: url("/public/fonts/Pretendard-SemiBold.woff");
}
@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 700;
  src: url("/public/fonts/Pretendard-Bold.woff");
}
@font-face {
  font-family: 'www';
  font-style: normal;
  font-weight: 400;
  src: url("/public/fonts/www.woff");
}

#root {
  font-family: 'Pretendard', sans-serif;
  color: var(--black-200);
}

.root,
#root,
#docs-root {
  --main1: #1635F4;
  --main1-light: #5D6DFF;
  --main2: #64E269;
  --main2-light:#A7FF9A;
  --sub: #E9ECF8;
  --black-500: #121820;
  --black-400: #242528;
  --black-300: #3D3F4E;
  --black-200: #5B5D6C;
  --black-100: #A4ABBE;
  --white: #FFFFFF;
  --lead: #FF7F00;
  --serve: #00A7FF;
  --assist: #28AD1D;
}